<%- include('layout/header'); -%>

    <div class="gallery-grid">
        <div class="grid-sizer w-full"></div>
        <div class="">
        <% locals.images == undefined && locals.images.forEach(i => { %>

                <span href="<%= i.paths.full %>"><img src="<%= i.paths.thumbnail %>" alt="" title="" /></span>

        <% }) %><div class="clear"></div></div>
    </div>

    <div class="gallery">
        <a href="/gallery/de/a6-illegal-farbig.png" class="big"><img src="/gallery/de/a6-illegal-farbig.png" alt="" title="Beautiful Image" /></a>
        <a href="/gallery/de/a6-wmbait-infarbe.png"><img src="/gallery/de/a6-wmbait-infarbe.png" alt="" title=""/></a>
        <div class="clear"></div>

    </div>

<script type="text/javascript" src="<%= assets['/assets/gallery.js'] %>"></script>

